/* https://coolors.co/2b3a67-496a81-66999b-b3af8f-ffc482  */
/* https://coolors.co/b70816-0e2aaa-fc9804-0a9b60-f2cb8e-ecf8f8 */

/* ========================= global styles ==========================*/
html {
    box-sizing: border-box;
    min-width: 290px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Raleway", sans-serif;
    position: relative;
    scroll-behavior: smooth;
    min-width: 290px;
}

/* ========================= header styles ==========================*/
header {
    /* background-color: #1A1915; */
    /* background-color: #1a1915a8; */
    background-image: linear-gradient(to right, #1A1915 , #1A1915);
}

.header-bc {
    background-color: #1A1915;
}

.header-contact {
    color: #ababab;
    text-align: center;
    border-bottom: 1px solid #FC9804;
}

.header-phone,
.header-email {
    color: #FC9804;
    display: block;
}

.header-contact-svg {
    width: 30px;
}

/* ========================= navigation styles ==========================*/

.navbar .navbar-nav .nav-link {
    font-family: "Raleway", sans-serif;
    /* color: #ababab; */
    color: #d4d4d4;
    text-decoration: none;
    padding: 20px 0px;
    font-size: 18px;
}

.navbar .navbar-nav .nav-link::after {
    content: "";
    display: block;
    position: relative;
    top: 20px;
    width: 100%;
    border: 1px solid #FC9804;
    border-radius: 2px;
}

.navbar .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.navbar .navbar-nav .nav-item .nav-link.active {
    color: #ffffff;
    font-weight: bold;
}

.no-padding {
    padding: 0;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

/* ========================= logo styles ==========================*/
.logo {
    width: 100px;
    height: 66px;
}

/* ========================= carousel styles ==========================*/

.carousel-item {
    max-height: 200px;
}

/* ========================= global section styles ==========================*/
.section-head {
    padding: 30px 0px;
}

.main-heading-light,
.main-heading-dark {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0px;
    /* background-color: #1A1915; */
    /* border-bottom:3px solid rgba(183, 8, 22, .5); */
    /* box-shadow: inset 0 -5px 0 -1px rgba(183, 8, 22, .5); */
    /* transition: box-shadow .5s ease; */
}

.main-heading-light {
    color: #1A1915;
}

.main-heading-dark {
    color: #FC9804;
}

.separator {
    width: 90%;
    margin: 0 auto;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 90, 63, 0), rgb(252, 152, 4), rgba(0, 90, 63, 0));
}

/* ========================= welcome section styles ==========================*/


.section-image {
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.dark-section {
    background-color: #1A1915;
}

.dark-section-text {
    color: #ababab;
}


.grey-section {
    background-color: #ababab;
}

/* ========================= service section styles ==========================*/

.service-col {
    text-align: center;
}

.services-hero {
    text-align: center;
    font-weight: bold;
}

.service-col img {
    margin-bottom: 15px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(252, 152, 4, 1);
}

.service-col p {
    font-weight: bold;
}

.services-button {
    border-radius: 50px;
    background-color: #ffffff;
    text-align: center;
    display: inline-block;
    padding: 15px 40px;
    border: 2px solid #FC9804;
    cursor: pointer;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
    margin: 30px 20px;
}

.services-button::before {
    content: "";
    position: absolute;
    height: 150px;
    width: 50px;
    background: #FC9804;
    left: -40px;
    top: -40px;
    transform: rotate(37deg);
    transition: all .5s;
    opacity: 0.75;
}

.services-button:hover:before {
    left: 90%;
}

.services-button a {
    text-decoration: none;
    color: #1A1915;
}

.services-link {
    text-decoration: none;
    color: #ababab;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
    border: 3px solid #FC9804;
    width: 180px;
    height: 40px;
    border-radius: 50px;
    margin-bottom: 30px;
    background-color: #1A1915;
}

.services-link:hover {
    text-decoration: none;
    border: 3px solid #ffffff;
    background-color: #FC9804;
    color: #1A1915;
}



/* ========================= approach section styles ==========================*/

/* ========================= projects section styles ==========================*/
.project-image {
    width: 100%;
}

.tile-title {
    text-align: center;
    padding: 15px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    font-size: 22px;
    border-bottom: 2px solid #FC9804;
}


/* ========================= footer  styles ==========================*/
.footer-contact-item {
    color: #ababab;
    margin: 0;
    padding-bottom: 10px;
    font-size: 16px;
}

.footer-head {
    font-weight: bold;
    color: #FC9804;
    font-size: 18px;
}

.footer-contact-svg {
    width: 30px;
}

.inquires-svg {
    margin-right: 15px;
}

.footer-contact-item a {
    color: #ababab;
}

.address-contact-svg {
    margin-bottom: 50px;
    width: 30px;
    margin-right: 15px;
    float: left;
}

.footer-separator {
    border-top: 1px solid #FC9804;
}



/* ========================= media quires styles ==========================*/

@media screen and (min-width: 769px) {

    /* ========================= header styles ==========================*/
    header {
        background-image: linear-gradient(to right, #1a1915 , #1a191573);
    }

    .header-contact {
        text-align: center;
    }

    .header-phone,
    .header-email {
        color: #FC9804;
        display: inline-block;
        padding: 10px 20px;
    }

    /* ========================= navigation styles ==========================*/
    .navbar .navbar-nav .nav-link {
        text-decoration: none;
        font-size: 19px;
        padding: 15px 15px 0px 15px;
    }

    .navbar .navbar-nav .nav-link::after {
        content: "";
        display: block;
        top: 5px;
        width: 0;
        position: relative;
        border: 3px solid #1A1915;
        border-radius: 3px;
        margin-bottom: 0px;
    }

    .navbar .navbar-nav .nav-item .nav-link.active::after {
        border: 3px solid #FC9804;
        font-weight: normal;
        font-size: 32px;
        width: 100%;
        margin: 0 auto;
    }

    .navbar .navbar-nav .nav-link:hover {
        color: #ffffff;
    }

    .navbar .navbar-nav .nav-link:hover::after {
        border: 3px solid #FC9804;
        font-weight: normal;
        font-size: 32px;
        width: 100%;
        transform: translateX(-50%);
        left: 50%;
        transition: width ease .5s;
    }

    .navbar .navbar-nav .nav-item .divider::after {
        content: "";
        /* display: block; */
        position: relative;
        top: -35px;
        width: 100%;
        border: 1px solid rgba(207, 146, 69, 1);
        border-radius: 2px;
        margin-bottom: 0px;
    }

    .no-padding {
        padding: 0;
    }

    /* ========================= logo styles ==========================*/

    .logo {
        width: 120px;
        height: 80px;
        margin: 0;
        padding: 5px;
    }

    /* ========================= carousel styles ==========================*/
    /* .carousel {
        padding-bottom: 150px;
    } */

    /* .carousel {
        padding-bottom: 150px;
    } */

    /* semi-transparent header settings: */
    .carousel-header {
        top: -90px;
    }
    

    .carousel-item {
        max-height: 95vh;
    }

    /* .main-heading:hover {
        box-shadow: inset 0 -60px 0 -1px rgba(183, 8, 22, .5);
        color: black;
    } */

    /* ========================= global header styles ==========================*/

    .section-head {
        padding: 60px 0px;
    }

    /* ========================= footer styles ==========================*/
    .footer-contact-item {
        padding-bottom: 10px;
        font-size: 18px;
    }

    .footer-head {
        font-weight: bold;
        color: #FC9804;
        font-size: 18px;
    }

    .footer-contact-svg {
        width: 50px;
        margin-bottom: 5px;
    }

    .address-contact-svg {
        margin-bottom: 50px;
        width: 50px;
        margin-right: 15px;
        float: left;
    }

    .footer-contact-item a {
        color: #ababab;
    }
}


#myCarousel {
    padding: 0 70px;
    margin-bottom: 60px;
}

#myCarousel .carousel-item {
    color: #999;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    min-height: 290px;
}

#myCarousel .carousel-item .img-box {
    width: 135px;
    height: 135px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 50%;
}

#myCarousel .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}

#myCarousel .testimonial {
    padding: 30px 0 10px;
}

#myCarousel .overview {
    font-style: italic;
}

#myCarousel .overview b {
    text-transform: uppercase;
    color: #7AA641;
}

#myCarousel .carousel-control-prev,
#myCarousel .carousel-control-next {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
    background: none;
}

#myCarousel .carousel-control-prev i,
#myCarousel .carousel-control-next i {
    font-size: 68px;
    line-height: 42px;
    position: absolute;
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}

#myCarousel .carousel-indicators {
    bottom: -40px;
}

#myCarousel .carousel-indicators li,
#myCarousel .carousel-indicators li.active {
    width: 12px;
    height: 12px;
    margin: 1px 3px;
    border-radius: 50%;
    border: none;
}

#myCarousel .carousel-indicators li {
    background: #999;
    border-color: transparent;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

#myCarousel .carousel-indicators li.active {
    background: #555;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}